.div_for_form
{
    background-color: lightgray;
    padding: 10px;
}

/* .output_zone
{
    width: 1000px;
    height: 500px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
} */

/* .hide
{

} */